html,
body {
  margin: 0;
  background-color: #ddd;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;

}

.title {
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 80px 0px rgba(255, 255, 255, 50%);
}

.frame {
  flex: 1;
}

.message-item {
  display: flex;
  padding: 3px 10px;
  margin-top: 5px;
}

.message-item>span {
  margin-right: 5px;
  text-align: right;
  width: 30px;
}

.message-item>div {
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
}

.message {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 10px;
}

.message>#message_input {
  flex: 1;
  padding: 5px 5px;
  border-radius: 15px;
  background-color:transparent;
  line-height: 18px;
  outline: none;
  margin-right: 20px;
  border: 1px solid #444;
}

.message>#send {
  outline: none;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  border-radius: 3px;
}